<div class="sw-game mat-typography">
  <header>
    <h1 class="sw-game__title mat-display-1">STAR WARS GAME</h1>
    <mat-form-field>
      <mat-label>Current resource</mat-label>
      <mat-select [(value)]="selectedResource" (valueChange)="handleResourceChange($event)">
        <mat-option *ngFor="let resource of resources | keyvalue" [value]="resource.value">
          {{resource.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button color="primary"
            class="sw-game__play-btn"
            *ngIf="isCurrentResourceAvailable() else loading"
            (click)="handlePlay()">Play!</button>
    <ng-template #loading>
      <mat-progress-spinner color="primary"
                            class="sw-game__spinner"
                            [strokeWidth]="5"
                            [diameter]="30"
                            [mode]="'indeterminate'">
      </mat-progress-spinner>
    </ng-template>
  </header>
  <main>
    <div class="sw-game__cards" *ngIf="selectedResource === resources.STARSHIPS else resourceCreatures">
      <div *ngFor="let starShip of appStoreService.playedStarships$ | async; let i = index">
        <p>winnings: {{this.appStoreService.counter[i]}}</p>
        <app-starship-card [starship]="starShip"></app-starship-card>
      </div>
    </div>

    <ng-template #resourceCreatures>
      <div class="sw-game__cards">
        <div *ngFor="let creature of appStoreService.playedCreatures$ | async; let i = index">
          <p>winnings: {{this.appStoreService.counter[i]}}</p>
          <app-creature-card [creature]="creature"></app-creature-card>
        </div>
      </div>
    </ng-template>
  </main>
</div>
